
<div>
    <div class="sidebar-title">DASHBORAD</div>
    <div class="sidebar-nav">
        <div class="sidebar-nav-item" routerLinkActive="sidebar-nav-item-active" [routerLinkActiveOptions]="{exact:true}" routerLink="/home/city">
            <mat-icon style="margin-right: 10px;">business</mat-icon>
            <span>City</span>
        </div>
        <div class="sidebar-nav-item" routerLinkActive="sidebar-nav-item-active" routerLink="/home/country">
            <mat-icon style="margin-right: 10px;">business</mat-icon>
            <span>Country</span>
        </div>
    </div>
</div>