<mat-toolbar class="home-header">
    <div class="logo-title">
        <button mat-icon-button class="" aria-label="icon-button with menu icon" >
            <mat-icon>menu</mat-icon>
        </button>
        <span>Canvas</span>
    </div>
    <div class="notification-profile">
        <span>Admin Portal</span>
        <button mat-icon-button class="" aria-label="icon-button with search icon">
            <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button class="" aria-label="icon-button with shopping_cart icon">
            <mat-icon matBadge="4">shopping_cart</mat-icon>
        </button>
        <button mat-icon-button class="" aria-label="icon-button with chat_bubble_outline icon">
            <mat-icon matBadge="1">chat_bubble_outline</mat-icon>
        </button>
        <button mat-icon-button class="" aria-label="icon-button with notifications icon">
            <mat-icon matBadge="15" matBadgeColor="warn">notifications</mat-icon>
        </button>
        <button class="profile"aria-expanded="false">
            <div class="user-img"><img class="user-inner-img" src="../../../assets/user-img.png" /></div>
        </button>
    </div>
</mat-toolbar>