/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* style for header */
.home-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-title {
    display: flex;
    align-items: center;
}

.notification-profile {
    display: flex;
    align-items: center;
}

.user-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.user-inner-img {
    object-fit: cover;
    position: absolute;
    top: -25%;
    left: -25%;
    width: 150%;
}

.profile {
    border: none;
    padding: 5px;
    border-radius: 2px;
    background-color: #FFFFFF;
}

.mat-toolbar {
    background-color: white;
}

/* style for side bar */
.main-body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.navigation-sidebar {
    width: 300px;
    height: 100%;
}

app-sidebar {
    display: block;
    color: #84A8C9;
    padding: 30px;
    font-size: large;
    background-color: #091C2C;
    height: 100%;
    width: 100%;
}

.sidebar-title {
    margin: 20px;
}

.sidebar-nav-item {
    display: flex;
    align-items: center;
    padding: 20px;
}

.sidebar-nav-item:hover{
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
    border-radius: 5px;
    background-color: #11304B;
    cursor: pointer;
}
.sidebar-nav-item-active{
    border-radius: 5px;
    color: white;
    background-color: #11304B;
}

/* style for main content */
.main-content {
    height: 100%;
    width: 100%;
}

/* style for city list header */
.city-list-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

hr {
    margin: 0px;
}

.add-btn {
    color: white !important;
    background-color: #3D73DD !important;
}

/* style for search bar*/
.search-field {
    position: relative;
    display: flex !important;
    align-items: center !important;
    margin: 10px;
    height: 50px;
}

.search-icon {
    position: absolute;
    margin-left: 10px;
}

.searchbar {
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: medium;
    padding: 10px;
    padding-left: 40px;
    width: 100%;
}

/* style for table */
.table {
    color: lightgray;
    margin: 0px;
}

.crud-btn {
    border-color: #3D73DD !important;
    color: #3D73DD !important;
    margin: 0px 5px;
}

/* style for upsert */
.upsert-header {
    display: flex;
    align-items: center;
    margin: 0px !important;
    padding: 10px 30px;
    width: 100%;
}

.upsert-header h1 {
    margin: 0px;
}

.city-upsert-formfield {
    padding: 30px;
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
}

.input-text,
.input-select {
    margin: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: medium;
    padding: 10px;
}

.checkbox-input {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
    font-size: medium;
    padding: 10px;
}

.form-submit-area {
    display: flex;
    justify-content: end;
    gap: 20px;
}

/* style for dialog box  */
.dialogbox-action-btn {
    display: flex;
    justify-content: center !important;
}
.dialogbox-title{
    background-color: #3D73DD;
}
.dialogbox-title span{
    color: white !important;
}
.error-msg{
    color: red;
    margin-left: 20px;
}